*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background: #000;
}
header{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 40px 100px;
    background-color: #131313;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}
header nav a{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: url(../Images/bg.jpg);
    background-size: 100%;
}
.container .heading{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 30vh;

}
.translator-box{
    display: flex;
    max-width: 100vh;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.translator-box textarea{
    height: 50vh;
    width: 70vh;
    padding: 10%;
    border: #fff;
    color: #000;
    font-weight: 700;
    font-size: 0.6em;
}


footer{
    position: relative;
    margin: 20px;
    padding: 10px;
    max-height: 50px;
    background-color: #131313;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.sci{
    position: relative;
    display: flex;
    flex-direction: row;
}
.sci li{
    list-style: none;
}
.sci li a{
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 0 10px 0;
}
.sci li a img{
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;

}
.sci li a:hover{
    background: #fff;
}